<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/news">News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if check_role}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">About Team</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">My news</a>
            <a class="dropdown-item" href="/news/add">Add news</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/trash/news" >Trash can</a>
            {{!-- <a class="dropdown-item" href="/logout">Logout</a> --}}
          </div>
        </li>
        {{/if}}
        {{#if check}}
        <li class="nav-item active">
          <a class="nav-link" href="/me/edit">{{user.name}}</a><span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a><span class="sr-only">(current)</span></a>
        </li>
        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a><span class="sr-only">(current)</span></a>
        </li>
        {{/if}}
      </ul>
      <form class="form-inline" action="/search" method="post">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>