<div class="mt-4">
    <blockquote class="blockquote">
        <h1 class="mb-0">{{post.title}}</h1> 
        <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
        <p>{{post.content}}</p>
    </blockquote>
</div>