<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0" nonce="GYAx79Lk"></script>
<div class="mt-4">
    <blockquote class="blockquote">
        <h1 class="mb-0">{{post.title}}</h1> 
        <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
        <p>{{post.content}}</p>
        <p>Author of reproduction: {{post.author}}</p>
    </blockquote>
</div>
<div class="fb-comments" data-href="https://www.facebook.com/nguyenhoanganhtu7377/posts/2606438949578531" data-width="" data-numposts="5"></div>
