.test {
    font-size: 1rem;
    background-color: red;
    width: 100px;
}

.card-post-item {
    margin-top: 16px;
}

small {
    color: green;
}

body {
    background-color: rgb(77, 167, 219);
    font-family: Tahoma;
    font-size: 13px;
    margin: 0px auto;
}

body h1 {
    color: yellow;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: yellow;
}

h3 {
    color: yellow;
}

#header {
    background-color: red;
    height: auto;
}

#main {
    height: auto;
    min-height: 1000px;
}

#footer {
    background-color: rgb(19, 19, 19);
    height: 100px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#footer h2 {
    text-align: center;
}

#footer p {
    font-size: 16px;
    font-style: italic;
    line-height: 3px;
}