<form action="" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Username..."reqiured>
    </div>
</form>