<div id="info">
<h1>Information of team</h1>
    <p>Phạm Tấn Sự - 18127201</p>
    <p>Âu Hồng Minh - 18127150</p>
    <p>Nguyễn Phúc Tấn - 18127205</p>
    <p>Nguyễn Hoàng Anh Tú - 18127243</p>
    <p>Nguyễn Trung An - 18127059</p>
</div>