<div id="info">
<h1>Information of team</h1>
    <h2>Phạm Tấn Sự - 18127201</h2>
    <h2>Âu Hồng Minh - 18127150</h2>
    <h2>Nguyễn Phúc Tấn - 18127205</h2>
    <h2>Nguyễn Hoàng Anh Tú - 18127243</h2>
    <h2>Nguyễn Trung An - 18127059</h2>
</div>