<!DOCTYPE html>
<html lang="en" dir="lir">
<head>
    <meta charset="UTF-8">
    <title>NEWS</title>
</head>
<body>
    <div class="app"></div>
    <header>
        <h1>HEADER</h1>
    </header>
        
    <div class="container">
        {{{body}}}  
    </div> 
    
    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>